.nav{
    width: 100vw;
    height: 70px;
    background-color: white;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 70;
    .logo{
        width: 30vw;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 5vw;
        justify-content: center;
        a{
            text-decoration: none;
            color: black;
            letter-spacing: 3px;
            font-weight: 900;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 2em;
        }
    }
    .slash{
        width: 0.5px;
        height: 70%;
        background-color: black;
    }
    .home{
        width: 18vw;
        cursor: pointer;
        height: 100%;
        display: flex;
        font-size: 10px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        &:hover {
            transition: all 0.5s;
        }
        &.active{
            background-color: rgb(0, 0, 0);
            color: white;
        }
    }
}