@media screen and (max-width:450px) {
    .Product-contents{
        .prodchild{
            display: flex;
            flex-direction: column;
            .tutorial{
                width: 100%;
                height: 30%;
                img{
                    height: 90%;
                }
            }
            .download{
                width: 100%;
                height: 70%;
            }
        }
        .Prod-Title{
            .AllCard{
                width: 100vw;
                height: calc(100vh - 200px);
                background-color: rgb(9, 18, 18);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .card{
                    width: 90%;
                    height: 20%;
                    background-color: rgb(255, 255, 255);
                    margin: 5px 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    img{
                        height: 80%;
                        width: auto;
                        margin-left: 5%;
                    }
                    .text{
                        color: black;
                        background-color: transparent;
                        width: 100%;
                        height: 20%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 10%;
                    }
                }
            }

        }
        .dose-lib{
            background-color: rgb(252, 252, 252);
            .download{
                background-color: rgb(209, 23, 23);
            }
        }
        .dose-ml{
            background-color: rgb(0, 0, 0);
            flex-direction: column-reverse;
            .download{
                background-color: rgb(45, 88, 215);
            }
        }
        .dose-crud{
            background-color: rgb(255, 255, 255);
            .download{
                background-color: rgb(45, 5, 90);
            }
        }
        .dose-iot{
            flex-direction: column-reverse;
            background-color: rgb(0, 0, 0);
            .download{
                background-color: rgb(87, 5, 69);
            }
        }
        .more{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}