.Product-contents{
    width: 100vw;
    height: 200vh;
    background-color: white;
    scroll-behavior: smooth;
    .prodchild{
        width: 100vw;
        height: calc(100vh - 110px);
        position: relative;
        display: flex;
        .mark{
            position: absolute;
            bottom: 110px;
            width: 0;
            height: 0;
        }
        .tutorial{
            width: 55%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                max-width: 80%;
            }
        }
        .download{
            width: 45%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .phone{
                width: 90%;
                height: 20%;
                background-color: green;
                margin: 10% 0;
                display: flex;
                align-items: center;
                border: 1px solid white;
            }
            svg{
                height: 80%;
                width: 20%;
                margin-left: 5%;
            }
            .load{
                width: 60%;
                p{
                    font-size: 0.8em;
                }
                a{
                    text-decoration: none;
                    color: white;
                    background-color: black;
                    font-size: 0.7em;
                    padding: 3px 10%;
                }
            }
            .desk{
                width: 90%;
                height: 20%;
                background-color: red;
                display: flex;
                align-items: center;
                border: 1px solid white;
            }
        }
    }
    .Prod-Title{
        position: relative;
        width: 100vw;
        height: calc(100vh - 110px);
        margin-top: 110px;
        display: flex;
        flex-direction: column;
        h1{
            font-size: 1.5em;
            padding: 20px 0;
        }
        .AllCard{
            width: 100vw;
            height: calc(100vh - 150px);
            background-color: rgb(9, 18, 18);
            display: flex;
            justify-content: center;
            align-items: center;
            .card{
                width: 20%;
                height: 80%;
                background-color: rgb(255, 255, 255);
                margin: 0 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img{
                    width: 80%;
                }
                .text{
                    background-color: black;
                    color: white;
                    width: 100%;
                    height: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10%;
                }
            }
        }
        .mark{
            position: absolute;
            bottom: 110px;
        }
    }
    .dose-lib{
        background-color: rgb(252, 252, 252);
        .download{
            background-color: rgb(209, 23, 23);
        }
    }
    .dose-ml{
        background-color: rgb(0, 0, 0);
        .download{
            background-color: rgb(45, 88, 215);
        }
    }
    .dose-crud{
        background-color: rgb(255, 255, 255);
        .download{
            background-color: rgb(45, 21, 204);
        }
    }
    .dose-iot{
        background-color: rgb(0, 0, 0);
        .download{
            background-color: rgb(219, 25, 177);
        }
    }
    .more{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}