.docs{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .tools{
        width: 100vw;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        top: 70px;
        background-color: black;
        z-index: 2;
        div{
            width: 15%;
            margin:0 2px;
            display: flex;
            align-items: center;
            p{
                color: white;
            }
            svg{
                color: red;
                height: 20px;
                width: 20px;
            }
            img{
                height: 20px;
            }
            a{
                text-decoration: none;
                color: white;
                font-size: 0.8em;
                margin-left: 10%;
            }
        }
    }
    .docAll{
        background-color: white;
        width: 100vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .doc{
            width: 100vw;
            height: 250px;
            border-bottom: 1px solid white;
            display: flex;
            flex-direction: column;
            background-color: black;
            align-items: center;
            h1{
                color: white;
                font-size: 1.5em;
                margin:20px 0;
            }
            .download{
                width: 220px;
                height: 50px;
                display: flex;
                align-items: center;
                div{
                    display: flex;
                    padding: 5px;
                    align-items: center;
                    width: 100px;
                    height: 40px;
                    a{
                        text-decoration: none;
                        color: white;
                        margin-left: 5px;
                    }
                }
                .git{
                    background-color: rgb(91, 88, 88);
                    svg{
                        height: 40px;
                        width: 40px;
                    }
                }
                .pdf{
                    background-color: red;
                    margin-left: 20px;
                    svg{
                        height: 40px;
                        width: 40px;
                    }
                }
            }
            .therminal{
                width: 300px;
                height: 40px;
                display: flex;
                margin-top: 30px;
                background-color: white;
                align-items: center;
                padding: 0 5vw;
                position: relative;
                button{
                    right: 5vw;
                    height: 28px;
                    position: absolute;
                    color: white;
                    background-color: black;
                    &:hover{
                        background-color: rgb(16, 16, 16);
                        transition: all 0.3s;
                    }
                }
            }
        }
        .doc1{
            background-color: rgb(34, 34, 34);
        }
        .doc2{
            background-color: rgb(13, 13, 64);
        }
        .doc3{
         background-color: rgb(45, 44, 44);
        }
        .doc4{
            background-color: rgb(3, 3, 56);
        }
    }
}
.topDoc{
    width: 100vw;
    height: 250px;
    position: relative;
    background-color: rgb(145, 145, 145);
    border-bottom: 2px solid rgb(17, 14, 110);
    img{
        position: absolute;
        height: 100%;
    }
    .left{
        left: 0;
    }
    .right{
        right: 0;
    }
    .mid{
        height: 50%;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}