@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');.MainPage{
    width: 100vw;
    height: 300vh;
    justify-content: center;
    margin-top: 70px;
    
    .Head-main{
        width: 100vw;
        height: calc(100vh - 100px);
        background: url(./img/sky.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        position: relative;
        h3{
            font-size: 48px;
            letter-spacing: 3px;
            font-family: 'Fredoka One', cursive;
            position: sticky;
            transform: translate(0,30vh);
            top: 15vh;
        }
    }
    .Head-main2{
        width: 100vw;
        height: calc(100vh - 70px);
        background: url(./img/red-sky-background.jpg);
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: cover;
        h3{
            font-size: 48px;
            letter-spacing: 3px;
            font-family: 'Fredoka One', cursive;        }
    }
    .div2{
        width: 100vw;
        height: 700px;
        background:rgb(158, 237, 40);
        z-index: 3;
        display: flex;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            width: 100vw;
            height: 100px;
            background: linear-gradient(to top ,rgb(158, 237, 40),transparent);
            z-index: 999;
        }
        img{
            height: 200px;
            width: 100vw;
            position: absolute;
            top: -100px;
        }
    }
    .div3{
        width: 100vw;
        height: 700px;
        background-color: rgb(156, 34, 4);
        z-index: 4;
        display: flex;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            width: 100vw;
            height: 200px;
            background: linear-gradient(to top ,rgb(156, 34, 4),transparent);
            z-index: 999;
        }
        img{
            height: 300px;
            width: 100vw;
            position: absolute;
            top: -100px;
        }
    }
    .MarsMiss{
        width: 100vw;
        height: 300px;
        background-color: gray;
    }
}