.About{
    width: 100vw;
    height: 100vh;
    background-color: gray;
    margin-top: 70px;
    .bgh{
        width: 100vw;
        height: 500px;
        background: url('./img/320447353_3435810436744753_1321263795120709686_n.jpg') no-repeat center;
        background-size: cover;
    }
}