.Products-Head{
    width: 100vw;
    height: 40px;
    background-color: rgb(7, 7, 7);
    align-items: center;
    display: flex;
    position: fixed;
    top: 70px;
    z-index: 3;
    justify-content: space-evenly;
    a{
        text-decoration: none;
        color: white;
        font-size: 10px;
    }
}